.login{
    width: 100vw;
    height: 100vh;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginwrapper{
    width: 70%;
    height: 70%;
    display: flex;
}

.loginleft, .loginright{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.loginlogo{
    font-size: 50px;
    font-weight: 800;
    color: #1775ee;
    margin-bottom: 10px;
}

.logindecs{
    font-size: 24px;
}

.loginform{
    height: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.logininput{
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
}

.logininput:focus{
    outline: none;
}

.loginbtn{
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #1775ee;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.loginforgot{
    text-align: center;
    color: #1775ee;
}

.logincreate{
    height: 40px;
    width: 50%;
    align-self: center;
    border-radius: 10px;
    border: none;
    background-color: #42b72a;
    color: white;
    font-size: 20px;
    font-weight: 500;
}