.profile{
    display: flex;
}

.profileright{
    flex: 9;
}

.profilecover{
    height: 320px;
    position: relative;
}

.profilecoverimg{
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.profileuserimg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 150px;
    border: 3px solid white;
}

.profileinfo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profileinfoname{
    font-size: 24px;
}

.profileinfodetails{
    font-weight: 300;
}

.profilerightbottom{
    display: flex;
}